@import "tailwindcss";
@theme {
  --color-sidebar: #0e0e0e;
  --color-hoverFile: #312eb5;
  /* --color-border: */
  --color-card: #232323;
  /* rightbackgr */
  --color-right-bg: #5c5c5c;
  /* --color-card-active-bg: rgba(200, 255, 255, 0.1); */
  --color-noteMenu: #333333;

  --font-nowted: "Kaushan Script";
  --font-name: "Source Sans Pro";
  --font-regular-weight: 400px;

  --spacing-gap: 28px;

  --width-sidebar: 20%;
  --width-middle: 25%;
  --width-right: 55%;

  --text-base: 16px;
  --text-restore: 28px;

  --color-border: #2a2a2a;

  --text-title-size: 16px;
}
